#cart-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
}


.product img {
  width: 30%;
  height: auto;
  margin-right: 1rem;
}

.product p {
  font-size: 1.2rem;
  margin: 0;
  flex-grow: 1;
}

.product div {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.qty-controls {
  display: flex;
}

.qty-controls button {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.qty-controls button:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.qty-controls button:disabled {
  color: #aaa;
  border-color: #aaa;
}

#total-checkout-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 1rem;
  padding: 1rem;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
}

#total-price {
  font-size: 1.5rem;
}

#checkout-btn {
  background-color: #96abae;
  color: white;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
}

#checkout-btn:hover {
  background-color: #738481;
}

.delete-btn {
  background-color: #738481;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 1rem;
}

.delete-btn:hover {
  background-color: #96abae;
}
