.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-image: url('https://cdn2.vectorstock.com/i/1000x1000/74/31/creative-minimalist-hand-painted-abstract-arts-vector-32707431.jpg');
    background-size: 112% 120%;
    background-position: center;
    color: white;
    margin: 7%;
    border: 2px solid lightgray;
}

.home-page-title {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.section-title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .50);
}

.about-us-text {
    padding: 25px;
    font-size: 20px;
    color: black;
    margin-top: 10px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.95);
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

@media (min-width: 950px) {
    .home-page {
        margin: 10%;
        margin-top: 50px;
    }
}

@media (max-width: 665px) {
    .home-page {
        margin: 2%;
        margin-top: 25px;
    }
}
